<div class="container">
    <div class="row column-gap-3 justify-content-between mb-5">
        <div class="col-2 statistics" style="background-color: rgb(136,146,214);">
            <p class="statistics-title">sd</p>
            <h2 class="statistics-data">3223487 </h2>
        </div>
        <div class="col-3 statistics" style="background-color: rgb(69,187,224);">
            <p class="statistics-title">Sản phẩm</p>
            <h2 class="statistics-data">3223487 </h2>
            <p>Tổng sản phẩm bán được trong tháng</p>
        </div>
        <div class="col-3 statistics" style="background-color: rgb(240,98,146);">
            <p class="statistics-title">Số lượng đơn hàng bán được </p>
            <h2 class="statistics-data">3223487 </h2>
        </div>
        <div class="col-2 statistics" style="background-color: rgb(120,195,80);">
            <p class="statistics-title">sd</p>
            <h2 class="statistics-data">3223487 </h2>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-3 bg-white statistics">
            Loại sản phẩm bán chạy nhất
        </div>
        <div class="col-3 bg-white statistics">
            Top sản phẩm bán chạy nhất
        </div>
        <div class="col-3 bg-white statistics">
            Top sản phẩm được yêu thích nhất
        </div>
    </div>
</div>

<style>
    .statistics {
        padding: 28px;
        border-radius: 8px;
    }

    .statistics-title {
        text-transform: uppercase;
        font-size: 16px;
    }
</style>