
<div class="p-5">
    <h2 class="text-center">Checkout</h2>
    <form asp-controller="Order" asp-action="Checkout" method="post">
        <div class="form-group">
            <label>Shipping Address</label>
            <input name="shippingAddress" class="form-control" />
        </div>
        <div class="form-group">
            <label>Notes</label>
            <textarea name="note" class="form-control"></textarea>
        </div>
        <input type="submit" name="payment" class="btn btn-primary w-100 mt-3" value="Đặt Hàng (COD)">
        <input type="submit" name="payment" class="btn btn-primary w-100 mt-3" value="Thanh toán VNPAY">
        
    </form>
</div>

