@using Microsoft.AspNetCore.Identity
@using ClothingStore.Models.Entity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav d-flex text-center py-2 px-3" style="min-width: 200px;">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" style="color: rgb(157,159,171) !important;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link border-0" style="color: rgb(157,159,171) !important;">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link p-2 mb-3" style="color: rgb(157,159,171) !important;" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link p-2 border border-2" style="color: rgb(157,159,171) !important;" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

<style>
    a:hover {
        text-decoration: none !important;
    }

</style>